<html>
    <head>
        <%-include('head')-%>
        <%-include('home-style')-%>
        <%var username, avatarid;%>
        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
        <script>
            const socket = io("https://caroh-game.herokuapp.com/");
        </script>
    </head>
    <body>
        <div class="fcontainer" style="height: 100vh;">
            <div>
                <div class="fcontainer">                    
                    <div>
                        <img src="avatar/<%=((avatarid < 10)? '0' + avatarid: avatarid)%>.png" alt="avt1" id="avt1" username='<%= username%>' avtid='<%=avatarid%>'>
                        <h5 style="display: inline-block;
                                   transform: translateY(-40px); 
                                   color:rgb(236, 69, 69); 
                                   font-size: 16;"><%= username%> <b style="color: rgb(12, 10, 110);">(YOU)</b></h5>
                        
                    </div>
                    <div>
                        <img src="avatar/00.png" alt="avt1" id="avt2">
                        <h5 style="display: inline-block;
                                   transform: translateY(-40px); 
                                   color: blue; 
                                   font-size: 16" id="p2_username">NGƯỜI CHƠI 2</h5>
                    </div>
                </div>
                <div class="fcontainer freverse room-div">
                    <div>
                        <input type="text" id="roomid-input" placeholder="Nhập ID phòng">
                    </div>
                    <div class="fcontainer btn-div">
                        <div><a id="createBtn" class="btn" onclick="createNewRoom()">Tạo Phòng</a></div>
                        <div><a id="joinBtn" class="btn" onclick="joinARoom()">Vào Phòng</a><br><br></div>                        
                    </div> 
                    <div class="roomtext-div">
                        <p>ID Phòng: <span id="roomid" style="font-size: 50 ;color: blue;"></span></p>
                    </div>    
                    <div>
                        <h3>Hướng dẫn sử dụng:</h3>
                        <ol style="font-size: 15;">
                            <li> Người chơi 1 click vào nút "Tạo Phòng" và nhận được mã ID phòng là 6 kí tự màu xanh dương "ID Phòng: ..."</li>
                            <li> Người chơi 2 bằng cách nào đó có được ID phòng do người chơi 1 tạo</li>
                            <li> Người chơi 2 nhập ID phòng vào ô "Nhập ID phòng"</li>
                            <li> Người chơi 2 click vào nút "Vào Phòng"</li>
                            <li> Khi người chơi thấy avatar và username của người kia xuất hiện, 2 người đã được kết nối và có thể trò chuyện.</li>
                        </ol>
                    </div>               
                </div>
            </div>
            <div class="msg-box">
                <div class="fcontainer freverse">
                    <div>
                        <textarea id="txtChat" cols="60" rows="20" placeholder="chat" readonly></textarea>
                    </div>
                    <div class="msg-input">
                        <input type="text" id="message-input" placeholder="Enter your message">
                        <a id="btnSend" onclick="sendMyMsg()">SEND</a>
                    </div>
                </div>
            </div>            
        </div>
        <%-include('footer')-%>
        <script>            
            var roomid, username, avtid;
            var isConnect = false;
            function createNewRoom(){
                socket.emit("leaveRoom", roomid, username);
                console.log('ok create room')
                roomid = '';
                for(let i = 0; i < 6; i++){
                    roomid += Math.floor(Math.random() * 10);                    
                }                
                $("#roomid").text(roomid);                                
                username = $("#avt1").attr('username');
                avtid = $("#avt1").attr('avtid');
                socket.off("roomFull");
                socket.off("newMsg");
                socket.off("memberLeft");

                socket.emit("createRoom", roomid, username, avtid);
                socket.on("roomFull", (p2_username, p2_avtid) => {
                    $("#avt2").attr("src", "avatar/" + ((p2_avtid < 10)? '0' + p2_avtid:p2_avtid) + '.png');
                    $("#p2_username").text(p2_username);
                });
                socket.on("newMsg", (username, replymsg) => {            
                    let chat = $("#txtChat").text();
                    $("#txtChat").text(chat + '\n' + username + ': - ' + replymsg);                    
                });
                socket.on("memberLeft", arg => {
                    $("#avt2").attr("src", "avatar/00.png");
                    $("#p2_username").text('NGƯỜI CHƠI 2');
                });
            }
            function joinARoom(){
                socket.emit("leaveRoom", roomid, username);

                roomid = $("#roomid-input").val();
                username = $("#avt1").attr('username');
                avtid = $("#avt1").attr('avtid');
                socket.off("roomFull");
                socket.off("newMsg");
                socket.off("memberLeft");
                
                socket.emit("joinRoom", roomid, username, avtid);                
                $("#roomid").text(roomid);

                socket.on("roomFull", (p2_username, p2_avtid) => {
                    $("#avt2").attr("src", "avatar/" + ((p2_avtid < 10)? '0' + p2_avtid:p2_avtid) + '.png');
                    $("#p2_username").text(p2_username);
                });
                socket.on("newMsg", (username, replymsg) => {            
                    let chat = $("#txtChat").text();
                    $("#txtChat").text(chat + '\n' + username + ': - ' + replymsg);                    
                });
                socket.on("memberLeft", arg => {
                    $("#avt2").attr("src", "avatar/00.png");
                    $("#p2_username").text('NGƯỜI CHƠI 2');
                });
            }
            function sendMyMsg(){
                let msg = $("#message-input").val();
                let user = $("#avt1").attr("username");
                
                socket.emit("sendMsg", roomid, user, msg);
                addToTextarea($("#txtChat"), user, msg);
                $("#message-input").val("");
            }
            function addToTextarea($ta, user, msg) {
                let chat = $ta.val();
                $ta.val(chat + '\n' + user + ': - ' + msg);
                $ta.scrollTop($ta[0].scrollHeight);
            }   
        </script>
    </body>
</html>